<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <h3 class="titulo">Escaner QR</h3>
    <ion-button color="tertiary" slot="end" [routerLink]="['/listado-alumno']">
      <ion-icon name="log-in-sharp" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<br><br>
<ion-content>
  <!-- Botón para iniciar el escaneo de QR -->
  <ion-button expand="full" (click)="escanearQr()">Escanear QR para Asistencia</ion-button>

  <!-- Contenedor para el escaneo de QR en navegador -->
  <div *ngIf="!isSupported" id="reader" style="width: 100%; height: 400px; margin: 20px auto; border: 1px solid #ccc;">
    <p style="text-align: center; padding: 20px;">Escáner QR activado en navegador</p>
  </div>
</ion-content>
